In [1]:
print("hello")

hello

In [2]:
x=10
y=2
print(x,y)
print(x+y)
x1=int(50)
print(x1)

(10, 2)
12
50

In [4]:
x,y,z="a","b","c"
print(x,y)
print(z)

('a', 'b')
c

In [7]:
x=y=z=("orange")
print x,y,z

orange orange orange

In [9]:
a="astha"
b="singh"
print(a,b)
a='astha'
print(a)

('astha', 'singh')
astha

In [12]:
a="astha"
print(a)
A="singh"
print(A)

astha
singh

In [14]:
a=b="astha"
print a

astha

In [21]:
a="astha"
b="singh"
print(a+b)
print a,b

asthasingh
astha singh

In [40]:
x="astha"
def q():
    print("my name is " ) + x
q()

my name is astha

In [30]:
q="astha"
def a():
    print("my name is ")+q
    
a()
q="singh"
print("my name is ")+q

my name is astha
my name is singh

In [38]:
global x
x="astha"
def s():
    print("my name is")+x
s()

print(x)

my name isastha
astha

In [34]:
x="astha  "
y="singh"
print(x+y)

astha  singh

In [1]:
bool(123)

True

In [2]:
bool("abc")
bool(["apple","boy"])

True

In [4]:
bool(False)

False

In [6]:
print(bool("hello"))
print(bool(12))

True
True

In [8]:
a="hello"
b=1
print(bool(a))
print(bool(b))

True
True

In [10]:
def myfunc():
    return False
if myfunc():
    print("yes")
else:
    print("no")

no

In [11]:
def func(mylist):
    "this changes a passed list"
    mylist.append([1,2,3])
    print "values inside func",mylist
    return
mylist=[9,8,7]
func(mylist);
print "values outside func",mylist

values inside func [9, 8, 7, [1, 2, 3]]
values outside func [9, 8, 7, [1, 2, 3]]

In [12]:
def fn(str):
    print str
fn(4)
fn("my name is astha")
fn("hello again")

4
my name is astha
hello again

In [15]:
def fn(str):
    "this prints the function"
    print str
    return
fn(str="mystring")

mystring

In [16]:
x=88

In [17]:
x

88

TypeError: fn() takes exactly 1 argument (2 given)

In [26]:
def fu(name,age):
    "this prints a passed function"
    print "name:",name
    print "age:",age
    return;
fu("astha",5)

name: astha
age: 5

In [36]:
def f(arg1,arg2,*x):
    "this prints a variable passed argument"
    print "output is:"
    print arg1
    print arg2
    for var in x:
        print("hi")
        print var
#f(10,20,30,40)
f(10,20,30,40,50,60,"huihui",10.0101)

output is:
10
20
hi
30
hi
40
hi
50
hi
60
hi
huihui
hi
10.0101

In [29]:
x=lambda a:a+10
print(x(5))
x=lambda a,b:a*b
print(x(5,6))
x=lambda a,b,c:a+b+c
print(x(1,2,3))

15
30
6

In [30]:
sum=lambda arg1,arg2:arg1+arg2
print("value of total"),sum(10,20)
print("value of total"),sum(1,2)

value of total 30
value of total 3

In [32]:
def f(n):
    return lambda a:a*n
mydoubler=f(2)
print(f(2))
print(mydoubler(11))

<function <lambda> at 0x0000000004F130B8>
22

In [33]:
def f(n):
    return lambda a:a*n
mytripler=f(3)
print(mytripler(1))

3

In [2]:
thisdict={
    "brand":"ford",
    "electric":False,
    "year":1920,
    "colours":["red","white"]
}

In [4]:
car={
    "brand":"ford",
    "electric":"mustang",
    "year":1290
}
x=car.keys()
print(x)
car["colour"]="white"
print(x)

['brand', 'electric', 'year']
['brand', 'electric', 'year']

In [2]:
dic={}
dict1={1:'apple',2:'ball'}
dict2={'name':'john',1:[2,4,3]}
dict3=dict({1:'apple',2:'ball'})
dict4=dict([(1,'apple'),(2,'ball')])
print(dict1,dict2,dict3,dict4)
print(dict2[1])

({1: 'apple', 2: 'ball'}, {1: [2, 4, 3], 'name': 'john'}, {1: 'apple', 2: 'ball'}, {1: 'apple', 2: 'ball'})
[2, 4, 3]

In [4]:
marks={}.fromkeys(['math','english','science'],0)
print(marks)
for item in marks.items():
    print(item)
print(list(sorted(marks.keys())))

{'science': 0, 'math': 0, 'english': 0}
('science', 0)
('math', 0)
('english', 0)
['english', 'math', 'science']

In [9]:
squares={x:x*x for x in range(2,6)}
print(squares)
squares={}
for x in range(6):
    squares[x]=x*x
print(squares)

{2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
squares={1:1,3:9,5:25,7:49,9:81}
print(1 in squares)
print(2 not in squares)
print(49 in squares)

True
True
False

In [14]:
squares={1:1,3:9,5:25,7:49,9:81}
for i in squares:
    print(squares[i])

1
9
81
25
49

In [17]:
my_infor = {'name':'qwerty','age':1,'location':'noida'}
city=my_infor.pop('location')
print(my_infor)
print(city)

{'age': 1, 'aename': 'qwerty'}
noida

In [2]:
my_infor = {'name':'qwerty','age':1,'location':'noida'}
a = my_infor.pop('occupation','not found')
print(my_infor)
print(a)

{'age': 1, 'name': 'qwerty', 'location': 'noida'}
not found

In [3]:
dict={
    "child1":{
     "name" :"qwerty",
    "year"  : 2004 
    },
     "child2":{
     "name" :"werty",
    "year"  : 2014 
    },
     "child3":{
     "name" :"rty",
    "year"  : 2104 
    }
    
}
print(dict)

{'child1': {'name': 'qwerty', 'year': 2004}, 'child2': {'name': 'werty', 'year': 2014}, 'child3': {'name': 'rty', 'year': 2104}}

In [5]:
a1={
    "name":"qw",
    "year":2017
}
a2={
    "name":"qwe",
    "year":2007
}
a3={
    "name":"qwer",
    "year":2117
}
aa={
    "child1":a1,
    "child2":a2,
    "child3":a3
}
print(aa)

{'child1': {'name': 'qw', 'year': 2017}, 'child2': {'name': 'qwe', 'year': 2007}, 'child3': {'name': 'qwer', 'year': 2117}}

set([1, 2, 3, 4])

In [2]:
str1="hello python!"
print(str1)

hello python!

In [5]:
str2="hello"+"world"
print(str2)

helloworld

In [6]:
str3=str1*3
print(str3)

hello python!hello python!hello python!

In [7]:
str4="1 2 3 4 5"
str4.split()

['1', '2', '3', '4', '5']

In [8]:
str4.split(",")

['1 2 3 4 5']

In [9]:
str5=" "
str5.join(str4)

'1   2   3   4   5'

In [10]:
str1.replace("python","world")

'hello world!'

In [11]:
 str1.upper()

'HELLO PYTHON!'

In [12]:
str1.strip()

'hello python!'

In [14]:
str6=" hello python "
print(str6)

 hello python

In [15]:
str6.lstrip()

'hello python '

In [16]:
str6.rstrip()

' hello python'

In [19]:
text="my name is qwerty"
print("is" in text)

True

In [20]:
text="my name is qwerty"
print("is" not in text)

False

In [22]:
text="my name is qwerty"
if "is" not in text:
    print("hi")

In [23]:
text="my name is qwerty"
if "is"  in text:
    print("hi")

hi

In [29]:
b="hello world"
print(b[2:7])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo w
hello
llo world
wor

In [32]:
a="hello world"
print(a.upper())
print(a.lower())
print(a.strip())

HELLO WORLD
hello world
hello world

In [33]:
age=3
text="my name is qwerty and i am {}"
print(text.format(age))

my name is qwerty and i am 3

In [35]:
quantity=3
item=2
price=1
myorder="i want {} of {} items that has {} price"
print(myorder.format(quantity,item,price))

i want 3 of 2 items that has 1 price

In [39]:
str="qwerty"
str1=9
x=str1+str
print x

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
age=3
text="my age is "+ str(age)
print text

my age is 3

In [2]:
quantity=3
item=2
price=1
myorder="i want {2} of {0} items that has {1} price"
print(myorder.format(quantity,item,price))

i want 1 of 3 items that has 2 price

In [3]:
import re
string="my name is qwerty"
print(re.split(" ",string))

['my', 'name', 'is', 'qwerty']

In [4]:
a,b,c,d=10,20,30,40
def funcA():
    a,b,c=100,200,300
    print("in A",a,b,c,d)
    def funcB():
        a,b=1000,2000
        print("in B",a,b,c,d)
        def funcC():
            a=1000
            print("in C",a,b,c,d)
        funcC()
    funcB()
funcA()
print("in main",a,b,c,d)

('in A', 100, 200, 300, 40)
('in B', 1000, 2000, 300, 40)
('in C', 1000, 2000, 300, 40)
('in main', 10, 20, 30, 40)

In [1]:
class infant:
    def walk(self):
        print("started crawling")
child=infant()
child.walk()

started crawling

In [2]:
class mom():
    def walk(self):
        print("walk-m")
        print("address of self is",id(self))
class infant(mom):
    pass
child=infant()
child.walk()
print("address of child is",id(child))

walk-m
('address of self is', 88224904L)
('address of child is', 88224904L)

In [4]:
class mom():
 def walk(self):
        print("walk-m")
        print("address of self is",id(self))
mother=mom()
print(type(mom.walk))
print(type(mother.walk))

<type 'instancemethod'>
<type 'instancemethod'>

In [5]:
gvar=10
class mom():
    lvar=1100
    print("global",gvar,"local",lvar)
mother=mom()
print("global",gvar,"local")

('global', 10, 'local', 1100)
('global', 10, 'local')

In [6]:
gvar=10
class mom():
    lvar=1100
    print("global",gvar,"local",lvar)
mother=mom()
print("global",gvar)

('global', 10, 'local', 1100)
('global', 10)

In [7]:
class mom():
    "this is doc"
    lvar=100
print(mom.__dict__)
print(mom.__doc__)

{'__module__': '__main__', 'lvar': 100, '__doc__': 'this is doc'}
this is doc

In [10]:
class ex():
    def __init__(self):
        self.__private="i am private"
        self._protected="i am protected"
        self.public="i am public"
ob=ex()
print(ob.public)
print(ob._protected)
print(ob.__private)

i am public
i am protected

AttributeError: ex instance has no attribute '__private'

In [11]:
class ex():
    def __init__(self):
        self.__private="i am private"
        self._protected="i am protected" 
        self.public="i am public"
ob=ex()
print(ob.public)
print(ob._protected)

i am public
i am protected

In [15]:
class ex():
    def __init__(self):
        print("object constructed")
    def __del__(self):
        print("object destroyed")
obj=ex()
del(obj)

object destroyed

In [16]:
import numpy
arr=numpy.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [17]:
import numpy as np
print(np.__version__)

1.16.3

In [19]:
import numpy as np
arr=np.array((1,2,3,4,5))
print(arr)

[1 2 3 4 5]

In [20]:
import numpy as np
arr=np.array(20)
print(arr)

20

In [3]:
class date:
    def __init__(self,day,month,year):
        self.year=year
        self.month=month
        self.day=day
    @classmethod
    def myd(cls,month,year,day):
        cls.day=day
        cls.month=month
        cls.year=year
        return cls(cls.month,cls.day,cls.year)
    @classmethod
    def ydm(cls,year,day,month):
        cls.day=day
        cls.month=month
        cls.year=year
        return cls(cls.month,cls.day,cls.year)
d1=date(17,4,2019)
print(d1.year,d1.month,d1.day)
d2=date.myd(4,2018,5)
print(d1.year,d1.month,d1.day)
d3=date.ydm(2017,7,1)
print(d3.year,d3.month,d3.day)
print(d1.year)
print(d2.year)
print(d3.year)

(2019, 4, 17)
(2019, 4, 17)
(2017, 7, 1)
2019
2018
2017

In [9]:
x=10
y=20
q=x+y
w=x*y
print (w)

200

In [3]:
import numpy as np
q=np.append(10,20)
print q

[10 20]

In [5]:
import numpy as np
lst=[2,3,4,5]
np.array(lst)

array([2, 3, 4, 5])

In [6]:
np.array([lst,lst])

array([[2, 3, 4, 5],
       [2, 3, 4, 5]])

In [8]:
np.array([[24,6],[2,5,6],[2,5,8]])

array([list([24, 6]), list([2, 5, 6]), list([2, 5, 8])], dtype=object)

In [9]:
import pandas as pd
pd.read_csv("C:\\Users\\singhast\\Documents\\astha.csv")

   a
0  b
1  c
2  d
3  e
4  f
5  g
6  h
7  i

In [14]:
import pandas as pd
temp=[10,20,30,40,50,90]
months=["jan","feb","march","april","may","june"]
s1 = pd.Series(temp,months)

In [17]:
print s1

jan      10
feb      20
march    30
april    40
may      50
june     90
dtype: int64

In [18]:
df=pd.read_csv("C:\\Users\\singhast\\Documents\\astha.csv")
print df

   a
0  b
1  c
2  d
3  e
4  f
5  g
6  h
7  i

In [4]:
lst=[1,2,3,4,'a',4,'b']
print (lst)
import pandas as pd
df=pd.DataFrame(lst)
print df

[1, 2, 3, 4, 'a', 4, 'b']
   0
0  1
1  2
2  3
3  4
4  a
5  4
6  b

In [3]:
import numpy as np;
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
import numpy as np;
import pandas as pd
df=pd.DataFrame(['a','b','c'],index=['r','t','u'])
print (df)
for x,n in df.iteritems():
    print(x,n)

(0L, r    a
t    b
u    c
Name: 0, dtype: object)

In [13]:
df = pd.DataFrame(np.random.randn(4,4),index = [6,7,8,9],columns = ['col1','col2','col3','col4'])
print (df)
for row_index,row in df.iterrows():
    print(row_index,row)
for row_index,row in df.iteritems():
    print(row_index,row)
for row in df.itertuples():
    print(row)

       col1      col2      col3      col4
6 -1.206686 -0.784684  0.784315 -0.576997
7  1.874866 -1.904031  0.780745 -0.309218
8 -0.945744  0.537991  0.000220 -1.105692
9  1.386292 -1.022027 -0.244856 -0.704299
(6L, col1   -1.206686
col2   -0.784684
col3    0.784315
col4   -0.576997
Name: 6, dtype: float64)
(7L, col1    1.874866
col2   -1.904031
col3    0.780745
col4   -0.309218
Name: 7, dtype: float64)
(8L, col1   -0.945744
col2    0.537991
col3    0.000220
col4   -1.105692
Name: 8, dtype: float64)
(9L, col1    1.386292
col2   -1.022027
col3   -0.244856
col4   -0.704299
Name: 9, dtype: float64)
('col1', 6   -1.206686
7    1.874866
8   -0.945744
9    1.386292
Name: col1, dtype: float64)
('col2', 6   -0.784684
7   -1.904031
8    0.537991
9   -1.022027
Name: col2, dtype: float64)
('col3', 6    0.784315
7    0.780745
8    0.000220
9   -0.244856
Name: col3, dtype: float64)
('col4', 6   -0.576997
7   -0.309218
8   -1.105692
9   -0.704299
Name: col4, dtype: float64)
Pandas(Index=6L, col1=-1.206686451940066, col2=-0.7846838011893782, col3=0.7843147452059698, col4=-0.5769971488638564)
Pandas(Index=7L, col1=1.8748664165377356, col2=-1.904030871212165, col3=0.7807450611403928, col4=-0.3092183098280483)
Pandas(Index=8L, col1=-0.945744177557305, col2=0.5379910200399884, col3=0.00021964786842884902, col4=-1.1056920661471759)
Pandas(Index=9L, col1=1.3862924723069499, col2=-1.022026617233684, col3=-0.244855688443875, col4=-0.7042985176298965)

In [15]:
data=[{'a':['a','b','c']},{'a':5,'b':10,'c':20},{'a':11,'h':1,'g':6}]
df=pd.DataFrame(data,index=['first','second','third'])
print(df)

                a     b     c    g    h
first   [a, b, c]   NaN   NaN  NaN  NaN
second          5  10.0  20.0  NaN  NaN
third          11   NaN   NaN  6.0  1.0

In [17]:
lst1=[['a','b','c'],[1,2,3]]
data=[['alex',11],['bob',12],['casd',13]]
df=pd.DataFrame(data,columns=['name','age'],dtype=float)
print df
data=[[10,'alex'],[12,'bob'],[13,'clarks']]
df1=pd.DataFrame(data,columns=['name','age'],index=[5,6,7],dtype=float)
print df1
data=[[10,'alex',20],[12,'bob',30],[13,'clarks',40]]
df2=pd.DataFrame(data,columns=['name','age','new'],index=[5,6,7],dtype=float)
print df2

   name   age
0  alex  11.0
1   bob  12.0
2  casd  13.0
   name     age
5  10.0    alex
6  12.0     bob
7  13.0  clarks
   name     age   new
5  10.0    alex  20.0
6  12.0     bob  30.0
7  13.0  clarks  40.0

In [19]:
import pandas as pd
location=pd.DataFrame({'area':['newyork','columbo','mumbai']})
food=pd.DataFrame({'food':['pizza','crabs','vada']})
det=pd.concat([location,food],join='outer',axis=1)
print det

      area   food
0  newyork  pizza
1  columbo  crabs
2   mumbai   vada

In [3]:
import pandas as pd
engg=pd.read_csv("as.csv")
df2=pd.read_csv("qw.csv")
det=pd.concat([engg,df2],join='inner',axis=0)
det

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3]

In [4]:
import pandas as pd
engg=pd.read_csv("as.csv")
df2=pd.read_csv("qw.csv")
det=pd.concat([engg,df2],join='outer',axis=0)
det

C:\Users\singhast\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

     0    1    a    l    m    q
0  9.0  NaN  NaN    j    n  NaN
1  8.0  NaN  NaN    h    b  NaN
2  7.0  NaN  NaN    g    v  NaN
3  6.0  NaN  NaN    f    c  NaN
0  NaN  2.0    b  NaN  NaN    w
1  NaN  3.0    c  NaN  NaN    e
2  NaN  4.0    d  NaN  NaN    r
3  NaN  5.0    e  NaN  NaN    t

In [3]:
import pandas as pd
d1 = pd.read_csv("as.csv")
d2 = pd.read_csv("qw.csv")
d3 =d1.merge(d2 ,how= 'right',on = 'phone')
d3

   naam phone cost  number work
0   NaN     b  NaN       2    w
1   NaN     c  NaN       3    e
2   NaN     d  NaN       4    r
3   NaN     e  NaN       5    t

In [4]:
import pandas as pd
d1 = pd.read_csv("as.csv")
d2 = pd.read_csv("qw.csv")
d3 =d1.merge(d2 ,how= 'left',on = 'phone')
d3

   naam phone cost  number work
0     9     j    n     NaN  NaN
1     8     h    b     NaN  NaN
2     7     g    v     NaN  NaN
3     6     f    c     NaN  NaN

In [4]:
import pandas as pd
titanic = pd.read_csv("titanicnew.csv")
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
titanic.shape

(1309, 14)

In [6]:
titanic.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [7]:
titanic.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [8]:
pd.isnull(titanic["name"])

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1279    False
1280    False
1281    False
1282    False
1283    False
1284    False
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297    False
1298    False
1299    False
1300    False
1301    False
1302    False
1303    False
1304    False
1305    False
1306    False
1307    False
1308    False
Name: name, Length: 1309, dtype: bool

In [40]:
import pandas as pd
df = pd.read_csv("netflix_titles.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
17,s18,TV Show,Falsa identidad,NaN,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,"September 22, 2021",2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
19,s20,TV Show,Jaguar,NaN,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",NaN,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."
20,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,NaN,NaN,"September 22, 2021",2021,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl..."
21,s22,TV Show,Resurrection: Ertugrul,NaN,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",NaN,"September 21, 2021",1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
23,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore","Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...",NaN,"September 21, 2021",2021,TV-Y,61 min,Children & Family Movies,From arcade games to sled days and hiccup cure...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
25,s26,TV Show,Love on the Spectrum,NaN,Brooke Satchwell,Australia,"September 21, 2021",2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",NaN,"September 21, 2021",1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,"September 20, 2021",2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
28,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,"September 19, 2021",2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France","September 19, 2021",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8777,s8778,Movie,Yes or No,Saratswadee Wongsomphet,"Sushar Manaying, Supanart Jittaleela, Arisara ...",Thailand,"December 6, 2018",2010,TV-PG,111 min,"International Movies, LGBTQ Movies, Romantic M...",Traditional girl Pie is initially uncomfortabl...
8778,s8779,Movie,Yes or No 2,Saratswadee Wongsomphet,"Supanart Jittaleela, Sushar Manaying, Nisa Boo...",Thailand,"November 8, 2018",2012,TV-PG,112 min,"International Movies, LGBTQ Movies, Romantic M...","No longer university girls, Kim and Pie face n..."
8779,s8780,Movie,Yes or No 2.5,Kirati Nakintanon,"Supanart Jittaleela, Pimpakan Bangchawong, Cha...",Thailand,"November 8, 2018",2015,TV-PG,107 min,"International Movies, LGBTQ Movies, Romantic M...",Roommates Wine and Pie find their lives turned...
8780,s8781,TV Show,Yo-Kai Watch,NaN,"Johnny Yong Bosch, J.W. Terry, Alicyn Packard,...",United States,"April 1, 2016",2015,TV-Y7,1 Season,"Anime Series, Kids' TV",Nate frees a mythical being trapped in a magic...
8781,s8782,Movie,Yo-Kai Watch: The Movie,Mark Risley,"Johnny Yong Bosch, Joey D'Auria, Alicyn Packar...","Japan, United States","December 1, 2016",2016,TV-Y7,96 min,"Anime Features, Children & Family Movies",Nate's special Yo-Kai Watch is missing. He tra...
8782,s8783,Movie,Yoga Hosers,Kevin Smith,"Harley Quinn Smith, Lily-Rose Depp, Johnny Dep...",United States,"December 2, 2016",2016,PG-13,88 min,"Comedies, Horror Movies, Independent Movies",With an all-important high school party at sta...
8783,s8784,TV Show,Yoko,NaN,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...",NaN,"June 23, 2018",2016,TV-Y,1 Season,Kids' TV,"Friends Mai, Oto and Vik's games at the park b..."
8784,s8785,Movie,Yoko and His Friends,NaN,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain","June 23, 2018",2015,TV-Y,78 min,Children & Family Movies,"Vik meets new friends in a new city, where the..."
8785,s8786,TV Show,YOM,NaN,"Sairaj, Devyani Dagaonkar, Ketan Singh, Mayur ...",NaN,"June 7, 2018",2016,TV-Y7,1 Season,Kids' TV,"With the mind of a human being, and the body o..."
8786,s8787,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",2017,TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...
8787,s8788,Movie,You Can’t Fight Christmas,Kenny Young,"Brely Evans, Andra Fuller, Persia White, Porsc...",United States,"December 19, 2017",2017,TV-PG,85 min,"Comedies, Romantic Movies",After stepping in to revitalize his family's h...
8788,s8789,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
8789,s8790,Movie,You Changed My Life,Cathy Garcia-Molina,"John Lloyd Cruz, Sarah Geronimo, Rayver Cruz, ...",Philippines,"February 27, 2019",2009,TV-PG,116 min,"Comedies, Dramas, International Movies",Laida and Miggy think they've found perfect ha...
8790,s8791,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...
8791,s8792,Movie,Young Adult,Jason Reitman,"Charlize Theron, Patton Oswalt, Patrick Wilson...",United States,"November 20, 2019",2011,R,94 min,"Comedies, Dramas, Independent Movies",When a divorced writer gets a letter from an o...
8792,s8793,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,"November 1, 2016",1973,NR,81 min,"Action & Adventure, International Movies","Aided only by a tough female police officer, a..."
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,88 min,"Children & Family Movies, Comedies",When a father of eight and a mother of 10 prep...
8794,s8795,Movie,اشتباك,Mohamed Diab,"Nelly Karim, Hany Adel, Tarek Abdel Aziz, Ahme...","Egypt, France","October 11, 2018",2016,TV-14,98 min,"Dramas, Independent Movies, International Movies",Amid the tumult following Egyptian President M...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
8796,s8797,TV Show,Yunus Emre,NaN,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,"December 31, 2019",2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...